// SCSS base
@import "../../App.scss";

.navbar {
  .navTitle {
    font-size: 1.15em;
    line-height: 26px;
    letter-spacing: 0.15em;

    transform: rotate(-90deg);

    width: fit-content;
    margin-left: -1em;
    margin-bottom: 1.5em;

    cursor: pointer;

    z-index: 1;
  }

  .navBox {
    width: 100%;
    height: 160px;
    background-color: $color-black;

    position: absolute;
    bottom: 0;
    left: 0;

    z-index: -1;
  }
}
