// SCSS base
@import "../../App.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 60px;
    }
  }

  .headerNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 1.1em;

    .headerNavText {
      position: relative;
      color: $color-3d-black;

      margin: 0.3em 0;
    }
  }
}
