@font-face {
  font-family: "Cocogoose";
  src: url("../assets/cocogoose.ttf");
}

$color-bg: #f8f8f8;
$color-bg-dark: #1e1e1e;
$color-3d-black: #000000;
$color-3d-red: #f31310;
$color-3d-blue: #00d5ff;

body {
  margin: 0;
  font-family: "Cocogoose", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-bg;
  color: $color-3d-black;

  a {
    text-decoration: none;
  }

  .app {
    margin: 3em 4em;

    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
    height: calc(100% - 4em);

    .app {
      margin: 2em;
    }
  }
}

// Background Animation

.background {
  position: fixed;
  pointer-events: none;
  -webkit-animation: grain 1s steps(4) infinite;
  animation: grain 1s steps(4) infinite;
  background-image: url("../assets/grain.png");
  height: 200%;
  left: -50%;
  top: -50%;
  width: 200%;
  opacity: 0.5;
}

@keyframes grain {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
  20% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }
  30% {
    -webkit-transform: translate(5%, -10%);
    transform: translate(5%, -10%);
  }
  40% {
    -webkit-transform: translate(-5%, 15%);
    transform: translate(-5%, 15%);
  }
  50% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }
  60% {
    -webkit-transform: translate(15%, 0);
    transform: translate(15%, 0);
  }
  70% {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
  }
  80% {
    -webkit-transform: translate(-15%, 0);
    transform: translate(-15%, 0);
  }
  90% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }
  to {
    -webkit-transform: translate(5%, 0);
    transform: translate(5%, 0);
  }
}

// Glitch Animation

.glitch {
  &:before,
  &:after {
    display: block;

    position: absolute;

    content: attr(data-text);

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &:after {
    color: $color-3d-red;
    z-index: -2;
    transform: translate(2px, -2px);
  }

  &:before {
    color: $color-3d-blue;
    z-index: -1;
    transform: translate(-2px, 2px);
  }

  &:hover {
    &:before {
      animation: glitch-blue 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
        reverse 1;
    }
    &:after {
      animation: glitch-red 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
        reverse 1;
    }
  }
}

.glitchOnHover {
  &:before,
  &:after {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;

    content: attr(data-text);

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &:after {
    color: $color-3d-red;
    z-index: -2;
  }

  &:before {
    color: $color-3d-blue;
    z-index: -1;
  }

  &:hover {
    &:before {
      animation: glitch-blue 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1;
    }
    &:after {
      animation: glitch-red 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 1;
    }
  }
}

@keyframes glitch-blue {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  to {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
}

@keyframes glitch-red {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  75% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  to {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
}
