@font-face {
  font-family: "Cocogoose";
  src: url("../assets/cocogoose.ttf");
}

$color-bg: #f8f8f8;
$color-bg-dark: #1e1e1e;
$color-3d-black: #000000;
$color-3d-red: #f31310;
$color-3d-blue: #00d5ff;

body {
  margin: 0;
  font-family: "Cocogoose", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-bg;

  .app {
    margin: 3em 4em;

    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
    height: calc(100vh - 4em);

    .app {
      margin: 2em;
    }
  }
}
