// SCSS base
@import "../../App.scss";

.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1em;
  margin-right: 0;
  margin-bottom: 0;

  img {
    height: 1.2em;
    &:hover {
      animation: distorce 0.2s both;
    }
  }
}

@keyframes distorce {
  0% {
    transform: skew(0);
  }
  25% {
    transform: skew(5deg);
    filter: invert(0.2);
  }
  75% {
    transform: skew(-5deg);
    filter: invert(0.2);
  }
  to {
    transform: skew(0);
  }
}
